body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background: #0d6efd; 
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.aboutMe {
    background: #f8f9fa;
}

.aboutMe h2 {
    font-size: 2rem;
    color: #0d6efd; /* Bootstrap primary color */
}

.portfolio h2{
    color: #0d6efd;
}

.portfolio .card-title {
    font-size: 1.5rem;
}

.portfolio .card {
    transition: transform 0.3s ease-in-out;
}

.portfolio .card:hover {
    transform: translateY(-10px);
}

.contact h5 {
    font-size: 1.2rem;
}

.contact p {
    margin-bottom: 0;
}

.contact a {
    color: #ffc107; /* Bootstrap warning color */
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 1.5rem;
    }
}
